In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
import matplotlib as plt

## INTENTO 4

In [2]:
df4 = pd.read_csv('../df_cleaned.csv')

In [3]:
dfbesttry = pd.read_csv('../Nacho/try11_data.csv')

In [4]:
df4.drop(columns='Unnamed: 0',inplace=True)

In [5]:
df4

,index,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,0,51,1,1,125.0,213.0,0.0,2.0,125.0,1.0,1.4,1.0,1.0,3.0,0.0
1,1,54,1,3,120.0,237.0,0.0,0.0,150.0,1.0,1.5,NaN,NaN,7.0,2.0
2,2,63,1,4,140.0,0.0,NaN,2.0,149.0,0.0,2.0,1.0,NaN,NaN,2.0
3,3,52,0,2,140.0,NaN,0.0,0.0,140.0,0.0,0.0,NaN,NaN,NaN,0.0
4,4,55,1,4,140.0,217.0,0.0,0.0,111.0,1.0,5.6,3.0,0.0,7.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,179,54,1,4,200.0,198.0,0.0,0.0,142.0,1.0,2.0,2.0,NaN,NaN,NaN
912,180,55,1,2,110.0,214.0,1.0,1.0,180.0,0.0,NaN,NaN,NaN,NaN,NaN
913,181,67,1,3,152.0,212.0,0.0,2.0,150.0,0.0,0.8,2.0,0.0,7.0,NaN
914,182,59,1,1,170.0,288.0,0.0,2.0,159.0,0.0,0.2,2.0,0.0,7.0,NaN
915,183,58,1,4,NaN,203.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df4.drop('index', axis=1, inplace=True)

In [7]:
df4.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,51,1,1,125.0,213.0,0.0,2.0,125.0,1.0,1.4,1.0,1.0,3.0,0.0
1,54,1,3,120.0,237.0,0.0,0.0,150.0,1.0,1.5,NaN,NaN,7.0,2.0
2,63,1,4,140.0,0.0,NaN,2.0,149.0,0.0,2.0,1.0,NaN,NaN,2.0
3,52,0,2,140.0,NaN,0.0,0.0,140.0,0.0,0.0,NaN,NaN,NaN,0.0
4,55,1,4,140.0,217.0,0.0,0.0,111.0,1.0,5.6,3.0,0.0,7.0,3.0

In [8]:
media_thalach = df4['thalach'].mean()

# Rellenar los NaN con la media calculada
df4['thalach'].fillna(value=media_thalach, inplace=True)

# Mostrar los primeros registros para verificar el resultado
print(df4[['thalach']].head())

   thalach
0    125.0
1    150.0
2    149.0
3    140.0
4    111.0

In [9]:
# Suponiendo que 'df' es tu DataFrame y 'df' es tu DataFrame final
# Convertir '<NA>' a NaN
df4.replace('<NA>', np.nan, inplace=True)

# Obtener columnas numÃ©ricas y categÃ³ricas
numeric_cols4 = ['age', 'oldpeak']
categorical_cols4 = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'label']

# ImputaciÃ³n para variables numÃ©ricas (usando la mediana)
numeric_imputer3 = SimpleImputer(strategy='mean')
df4[numeric_cols4] = numeric_imputer3.fit_transform(df4[numeric_cols4])

# ImputaciÃ³n para variables categÃ³ricas (usando la moda)
categorical_imputer3 = SimpleImputer(strategy='most_frequent')
df4[categorical_cols4] = categorical_imputer3.fit_transform(df4[categorical_cols4])

# Verificar que ya no hay valores faltantes
print(df4.isnull().sum())

# El DataFrame 'df' ahora contiene los valores imputados

age           0
sex           0
cp            0
trestbps     59
chol         30
fbs           0
restecg       0
thalach       0
exang         0
oldpeak       0
slope         0
ca            0
thal        483
label         0
dtype: int64

In [10]:
# FunciÃ³n para categorizar los valores de chol
def categorizar_chol(valor):
    if valor == 0 or pd.isnull(valor):  
        return 0
    elif valor < 200:
        return 1
    elif 200 <= valor <= 239:
        return 2
    else:  # valor >= 240
        return 3

# Aplicar la funciÃ³n al DataFrame
df4['chol'] = df4['chol'].apply(categorizar_chol)

# Mostrar los primeros registros para verificar el resultado
print(df4['chol'].head())

0    2
1    2
2    0
3    0
4    2
Name: chol, dtype: int64

In [11]:
def sust_thal(valor):
    if pd.isnull(valor):
        return 0
    else:
        return valor

df4['thal'] = df4['thal'].apply(sust_thal)
print(df4['thal'].head())

0    3.0
1    7.0
2    0.0
3    0.0
4    7.0
Name: thal, dtype: float64

In [12]:
def categorizar_trestbps(valor):
    if pd.isnull(valor):
        return 0
    elif valor < 120:
        return 1
    elif 120 <= valor <= 129:
        return 2
    else:  # valor >= 130
        return 3


df4['trestbps'] = df4['trestbps'].apply(categorizar_trestbps)

# Mostrar los primeros registros para verificar el resultado
print(df4['trestbps'].head())

0    2
1    2
2    3
3    3
4    3
Name: trestbps, dtype: int64

In [13]:
def categorizar_thalach_correcta(edad, sexo, thalach):
    # CategorÃ­as basadas en la tabla para hombres y mujeres
    # Los rangos se ajustan para reflejar el lÃ­mite superior inclusivo
    categorias_hombres = [(86, 200), (70, 85), (62, 69), (60, 61)]  # Inadecuado, Normal, Bueno, Excelente
    categorias_mujeres = [(96, 200), (78, 95), (72, 77), (70, 71)]
    
    # Seleccionar los lÃ­mites segÃºn el sexo
    limites = categorias_hombres if sexo == 1 else categorias_mujeres
    
    # Asignar categorÃ­as segÃºn la edad
    if edad < 30:
        rango_edad = 0
    elif edad <= 39:
        rango_edad = 1
    elif edad <= 49:
        rango_edad = 2
    else:  # edad >= 50
        rango_edad = 3
    
    # Verificar si thalach es NaN
    if pd.isnull(thalach):
        return 5  # Podemos asignar un 5 para valores NaN o no clasificables
    
    # Determinar la categorÃ­a basada en el valor de thalach
    # Devolveremos la categorÃ­a basada en el lÃ­mite que se cruce primero, desde la mejor a la peor
    for i, (limite_inferior, limite_superior) in enumerate(limites):
        if limite_inferior <= thalach <= limite_superior:
            return 4 - i if rango_edad == i else 1  # Excelente si el rango de edad coincide, sino Inadecuado
    
    return 1  # Por defecto, si no encaja en ningÃºn otro rango, se considera Inadecuado

# Aplicar la funciÃ³n actualizada al DataFrame
df4['thalach_cat'] = df4.apply(lambda fila: categorizar_thalach_correcta(fila['age'], fila['sex'], fila['thalach']), axis=1)

# Mostrar los primeros registros para verificar el resultado
print(df4[['age', 'sex', 'thalach', 'thalach_cat']].head())

    age  sex  thalach  thalach_cat
0  51.0  1.0    125.0            1
1  54.0  1.0    150.0            1
2  63.0  1.0    149.0            1
3  52.0  0.0    140.0            1
4  55.0  1.0    111.0            1

In [14]:
df4.isnull().sum()

age            0
sex            0
cp             0
trestbps       0
chol           0
fbs            0
restecg        0
thalach        0
exang          0
oldpeak        0
slope          0
ca             0
thal           0
label          0
thalach_cat    0
dtype: int64

In [15]:
from sklearn.preprocessing import MinMaxScaler

# Crear un objeto StandardScaler
scaler3 = MinMaxScaler()

# Lista de columnas a estandarizar
columns_to_scale3 = ['age','oldpeak']

# Ajustar el escalador solo a las columnas especificadas y transformarlas
df4[columns_to_scale3] = scaler3.fit_transform(df4[columns_to_scale3])

In [16]:
from sklearn.preprocessing import OrdinalEncoder

# Inicializar el codificador ordinal
ordinal_encoder = OrdinalEncoder()

# Variables para codificaciÃ³n ordinal
ordinal_vars = ["slope", "ca", "thal", "restecg"]

# Aplicar codificaciÃ³n ordinal
df4[ordinal_vars] = ordinal_encoder.fit_transform(df4[ordinal_vars])

df4.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label,thalach_cat
0,0.469388,1.0,1.0,2,2,0.0,2.0,125.0,1.0,0.454545,0.0,1.0,1.0,0.0,1
1,0.530612,1.0,3.0,2,2,0.0,0.0,150.0,1.0,0.465909,1.0,0.0,3.0,2.0,1
2,0.714286,1.0,4.0,3,0,0.0,2.0,149.0,0.0,0.522727,0.0,0.0,0.0,2.0,1
3,0.489796,0.0,2.0,3,0,0.0,0.0,140.0,0.0,0.295455,1.0,0.0,0.0,0.0,1
4,0.551020,1.0,4.0,3,2,0.0,0.0,111.0,1.0,0.931818,2.0,0.0,3.0,3.0,1

In [17]:
# Aplicar codificaciÃ³n de conteo
for var in ["chol", "thalach_cat", "trestbps", "cp"]:
    df4[var + '_count'] = df4[var].map(df4[var].value_counts())

df4.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label,thalach_cat,chol_count,thalach_cat_count,trestbps_count,cp_count
0,0.469388,1.0,1.0,2,2,0.0,2.0,125.0,1.0,0.454545,0.0,1.0,1.0,0.0,1,230,913,211,44
1,0.530612,1.0,3.0,2,2,0.0,0.0,150.0,1.0,0.465909,1.0,0.0,3.0,2.0,1,230,913,211,204
2,0.714286,1.0,4.0,3,0,0.0,2.0,149.0,0.0,0.522727,0.0,0.0,0.0,2.0,1,201,913,485,495
3,0.489796,0.0,2.0,3,0,0.0,0.0,140.0,0.0,0.295455,1.0,0.0,0.0,0.0,1,201,913,485,173
4,0.551020,1.0,4.0,3,2,0.0,0.0,111.0,1.0,0.931818,2.0,0.0,3.0,3.0,1,230,913,485,495

In [18]:
df4

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label,thalach_cat,chol_count,thalach_cat_count,trestbps_count,cp_count
0,0.469388,1.0,1.0,2,2,0.0,2.0,125.000000,1.0,0.454545,0.0,1.0,1.0,0.0,1,230,913,211,44
1,0.530612,1.0,3.0,2,2,0.0,0.0,150.000000,1.0,0.465909,1.0,0.0,3.0,2.0,1,230,913,211,204
2,0.714286,1.0,4.0,3,0,0.0,2.0,149.000000,0.0,0.522727,0.0,0.0,0.0,2.0,1,201,913,485,495
3,0.489796,0.0,2.0,3,0,0.0,0.0,140.000000,0.0,0.295455,1.0,0.0,0.0,0.0,1,201,913,485,173
4,0.551020,1.0,4.0,3,2,0.0,0.0,111.000000,1.0,0.931818,2.0,0.0,3.0,3.0,1,230,913,485,495
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,0.530612,1.0,4.0,3,1,0.0,0.0,142.000000,1.0,0.522727,1.0,0.0,0.0,0.0,1,128,913,485,495
912,0.551020,1.0,2.0,1,2,1.0,1.0,180.000000,0.0,0.394986,1.0,0.0,0.0,0.0,1,230,913,161,173
913,0.795918,1.0,3.0,3,2,0.0,2.0,150.000000,0.0,0.386364,1.0,0.0,3.0,0.0,1,230,913,485,204
914,0.632653,1.0,1.0,3,3,0.0,2.0,159.000000,0.0,0.318182,1.0,0.0,3.0,0.0,1,357,913,485,44
915,0.612245,1.0,4.0,0,2,1.0,0.0,137.533101,0.0,0.394986,1.0,0.0,0.0,0.0,1,230,913,59,495

In [19]:
train_end4 = df4[0:732]
test_end4 = df4[(916-184):]

In [20]:
train_end4.isna().sum()

age                  0
sex                  0
cp                   0
trestbps             0
chol                 0
fbs                  0
restecg              0
thalach              0
exang                0
oldpeak              0
slope                0
ca                   0
thal                 0
label                0
thalach_cat          0
chol_count           0
thalach_cat_count    0
trestbps_count       0
cp_count             0
dtype: int64

In [21]:
test_end4.isna().sum()

age                  0
sex                  0
cp                   0
trestbps             0
chol                 0
fbs                  0
restecg              0
thalach              0
exang                0
oldpeak              0
slope                0
ca                   0
thal                 0
label                0
thalach_cat          0
chol_count           0
thalach_cat_count    0
trestbps_count       0
cp_count             0
dtype: int64

In [22]:
train_end4['label'].value_counts()

0.0    327
1.0    156
2.0    108
3.0    107
4.0     34
Name: label, dtype: int64

In [23]:
train_cor = pd.get_dummies(train_end4, columns= ['chol','trestbps','thalach_cat','restecg', 'cp', 'ca', 'slope', 'thal', 'sex', 'fbs', 'exang'])

In [24]:
train_cor

,age,thalach,oldpeak,label,chol_count,thalach_cat_count,trestbps_count,cp_count,chol_0,chol_1,...,thal_0.0,thal_1.0,thal_2.0,thal_3.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0
0,0.469388,125.000000,0.454545,0.0,230,913,211,44,0,0,...,0,1,0,0,0,1,1,0,0,1
1,0.530612,150.000000,0.465909,2.0,230,913,211,204,0,0,...,0,0,0,1,0,1,1,0,0,1
2,0.714286,149.000000,0.522727,2.0,201,913,485,495,1,0,...,1,0,0,0,0,1,1,0,1,0
3,0.489796,140.000000,0.295455,0.0,201,913,485,173,1,0,...,1,0,0,0,1,0,1,0,1,0
4,0.551020,111.000000,0.931818,3.0,230,913,485,495,0,0,...,0,0,0,1,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,0.367347,150.000000,0.295455,0.0,230,913,211,204,0,0,...,1,0,0,0,0,1,1,0,1,0
728,0.693878,137.533101,0.394986,1.0,230,913,59,204,0,0,...,1,0,0,0,0,1,1,0,1,0
729,0.306122,165.000000,0.318182,0.0,230,913,211,204,0,0,...,0,1,0,0,1,0,1,0,1,0
730,0.816327,132.000000,0.295455,1.0,128,913,485,204,0,1,...,0,0,1,0,0,1,0,1,1,0
731,0.265306,163.000000,0.295455,0.0,357,913,211,173,0,0,...,0,1,0,0,1,0,1,0,1,0

In [25]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X = train_cor.drop('label', axis=1)
y = train_cor['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression(max_iter=1000)

model.fit(X_train, y_train)

coef_importance = pd.Series(model.coef_[0], index=X.columns)
coef_importance = coef_importance.abs().sort_values(ascending=False)

print("Variables con mayor peso en el modelo:")
print(coef_importance)

Variables con mayor peso en el modelo:
chol_0               1.077140
ca_0.0               0.766061
thal_1.0             0.727536
thal_3.0             0.724070
sex_0.0              0.653920
sex_1.0              0.630016
exang_0.0            0.576859
exang_1.0            0.552955
chol_1               0.543093
cp_2.0               0.539115
slope_0.0            0.536649
oldpeak              0.484336
chol_2               0.411024
fbs_0.0              0.394655
slope_2.0            0.380891
age                  0.375133
fbs_1.0              0.370751
ca_2.0               0.321013
cp_1.0               0.306986
trestbps_2           0.286507
restecg_1.0          0.243508
restecg_2.0          0.243163
ca_1.0               0.230262
trestbps_0           0.207678
ca_3.0               0.190882
thal_0.0             0.173355
thal_2.0             0.152917
chol_3               0.146926
slope_1.0            0.131854
cp_4.0               0.128126
trestbps_3           0.121469
cp_3.0               0.080100
trestbps_1           0.066544
restecg_0.0          0.024249
thalach_cat_4        0.023982
thalach              0.010031
cp_count             0.003143
trestbps_count       0.001020
chol_count           0.000937
thalach_cat_count    0.000271
thalach_cat_1        0.000079
dtype: float64

c:\Users\Pacotm\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [26]:
dict_cor = coef_importance.to_dict()

In [27]:
dict_cor

{'chol_0': 1.0771396809372626,
 'ca_0.0': 0.7660611941367276,
 'thal_1.0': 0.7275359857945379,
 'thal_3.0': 0.7240702250058088,
 'sex_0.0': 0.6539198955491484,
 'sex_1.0': 0.6300160572583031,
 'exang_0.0': 0.5768589071254583,
 'exang_1.0': 0.5529550688242988,
 'chol_1': 0.54309340801104,
 'cp_2.0': 0.539115378300701,
 'slope_0.0': 0.5366486824556577,
 'oldpeak': 0.4843356492602867,
 'chol_2': 0.4110236748184008,
 'fbs_0.0': 0.3946545526031852,
 'slope_2.0': 0.3808913267402247,
 'age': 0.3751326925175326,
 'fbs_1.0': 0.3707507143131013,
 'ca_2.0': 0.3210131353185242,
 'cp_1.0': 0.3069858618891134,
 'trestbps_2': 0.28650687449864587,
 'restecg_1.0': 0.24350793105314963,
 'restecg_2.0': 0.24316259149651098,
 'ca_1.0': 0.230262323776036,
 'trestbps_0': 0.20767761407265428,
 'ca_3.0': 0.19088189674316453,
 'thal_0.0': 0.17335504335154694,
 'thal_2.0': 0.1529169658475037,
 'chol_3': 0.14692643640096828,
 'slope_1.0': 0.13185351742380394,
 'cp_4.0': 0.1281260729158497,
 'trestbps_3': 0.12146900617453063,
 'cp_3.0': 0.08009960520502238,
 'trestbps_1': 0.0665435840426113,
 'restecg_0.0': 0.024249177850727516,
 'thalach_cat_4': 0.023982344468079023,
 'thalach': 0.010031418625464493,
 'cp_count': 0.003143031879392607,
 'trestbps_count': 0.0010203255190635251,
 'chol_count': 0.00093663861259081,
 'thalach_cat_count': 0.00027089876451211973,
 'thalach_cat_1': 7.85061715659476e-05}

In [28]:
for index, row in train_cor.iterrows():
    score = 0.0
    for col in train_cor.columns[:-1]:
        if col in dict_cor: 
            if row[col] == 1:
                score += dict_cor[col] 
    train_cor.at[index, 'score_by_correlation'] = score

In [29]:
train_cor

,age,thalach,oldpeak,label,chol_count,thalach_cat_count,trestbps_count,cp_count,chol_0,chol_1,...,thal_1.0,thal_2.0,thal_3.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0,score_by_correlation
0,0.469388,125.000000,0.454545,0.0,230,913,211,44,0,0,...,1,0,0,0,1,1,0,0,1,3.766875
1,0.530612,150.000000,0.465909,2.0,230,913,211,204,0,0,...,0,0,1,0,1,1,0,0,1,4.001568
2,0.714286,149.000000,0.522727,2.0,201,913,485,495,1,0,...,0,0,0,0,1,1,0,1,0,4.647570
3,0.489796,140.000000,0.295455,0.0,201,913,485,173,1,0,...,0,0,0,1,0,1,0,1,0,4.458755
4,0.551020,111.000000,0.931818,3.0,230,913,485,495,0,0,...,0,0,1,0,1,1,0,0,1,4.133595
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,0.367347,150.000000,0.295455,0.0,230,913,211,204,0,0,...,0,0,0,0,1,1,0,1,0,3.474757
728,0.693878,137.533101,0.394986,1.0,230,913,59,204,0,0,...,0,0,0,0,1,1,0,1,0,3.615187
729,0.306122,165.000000,0.318182,0.0,230,913,211,204,0,0,...,1,0,0,1,0,1,0,1,0,4.052842
730,0.816327,132.000000,0.295455,1.0,128,913,485,204,0,1,...,0,1,0,0,1,0,1,1,0,3.397447
731,0.265306,163.000000,0.295455,0.0,357,913,211,173,0,0,...,1,0,0,1,0,1,0,1,0,4.652556

In [30]:
test_cor = pd.get_dummies(test_end4, columns= ['chol','trestbps','thalach_cat','restecg', 'cp', 'ca', 'slope', 'thal', 'sex', 'fbs', 'exang'])

In [31]:
for index, row in test_cor.iterrows():
    score = 0.0  
    for col in test_cor.columns[:-1]:  
        if col in dict_cor: 
            if row[col] == 1: 
                score += dict_cor[col]  
    test_cor.at[index, 'score_by_correlation'] = score

In [32]:
test_cor

,age,thalach,oldpeak,label,chol_count,thalach_cat_count,trestbps_count,cp_count,chol_0,chol_1,...,thal_1.0,thal_2.0,thal_3.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0,score_by_correlation
732,0.591837,119.000000,0.636364,0.0,128,913,485,495,0,1,...,0,0,0,0,1,1,0,0,1,3.380908
733,0.489796,165.000000,0.295455,0.0,128,913,485,173,0,1,...,0,0,0,0,1,1,0,1,0,3.900805
734,0.408163,100.000000,0.295455,0.0,201,913,161,173,1,0,...,0,0,0,0,1,1,0,1,0,4.379926
735,0.693878,128.000000,0.579545,0.0,201,913,161,495,1,0,...,0,0,0,0,1,1,0,0,1,4.194070
736,0.469388,123.000000,0.363636,0.0,128,913,161,204,0,1,...,1,0,0,0,1,1,0,1,0,4.345840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,0.530612,142.000000,0.522727,0.0,128,913,485,495,0,1,...,0,0,0,0,1,1,0,0,1,3.465912
912,0.551020,180.000000,0.394986,0.0,230,913,161,173,0,0,...,0,0,0,0,1,0,1,1,0,3.909165
913,0.795918,150.000000,0.386364,0.0,230,913,485,204,0,0,...,0,0,1,0,1,1,0,1,0,4.079348
914,0.632653,159.000000,0.318182,0.0,357,913,485,44,0,0,...,0,0,1,0,1,1,0,1,0,4.042137
915,0.612245,137.533101,0.394986,0.0,230,913,59,495,0,0,...,0,0,0,0,1,0,1,1,0,3.420050

### TRY 11 RANDOM FOREST

In [33]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer

target_column = 'label'
features_train = train_cor.drop(columns=[target_column])
target_train = train_cor[target_column]

features_test = test_cor.drop(columns=[target_column])

model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(features_train, target_train)

predicted_classes = model.predict(features_test)

predicted_df_cor = test_cor.copy()
predicted_df_cor[target_column] = predicted_classes

In [34]:
predicted_df_cor

,age,thalach,oldpeak,label,chol_count,thalach_cat_count,trestbps_count,cp_count,chol_0,chol_1,...,thal_1.0,thal_2.0,thal_3.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0,score_by_correlation
732,0.591837,119.000000,0.636364,2.0,128,913,485,495,0,1,...,0,0,0,0,1,1,0,0,1,3.380908
733,0.489796,165.000000,0.295455,0.0,128,913,485,173,0,1,...,0,0,0,0,1,1,0,1,0,3.900805
734,0.408163,100.000000,0.295455,0.0,201,913,161,173,1,0,...,0,0,0,0,1,1,0,1,0,4.379926
735,0.693878,128.000000,0.579545,1.0,201,913,161,495,1,0,...,0,0,0,0,1,1,0,0,1,4.194070
736,0.469388,123.000000,0.363636,0.0,128,913,161,204,0,1,...,1,0,0,0,1,1,0,1,0,4.345840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,0.530612,142.000000,0.522727,0.0,128,913,485,495,0,1,...,0,0,0,0,1,1,0,0,1,3.465912
912,0.551020,180.000000,0.394986,0.0,230,913,161,173,0,0,...,0,0,0,0,1,0,1,1,0,3.909165
913,0.795918,150.000000,0.386364,0.0,230,913,485,204,0,0,...,0,0,1,0,1,1,0,1,0,4.079348
914,0.632653,159.000000,0.318182,0.0,357,913,485,44,0,0,...,0,0,1,0,1,1,0,1,0,4.042137
915,0.612245,137.533101,0.394986,1.0,230,913,59,495,0,0,...,0,0,0,0,1,0,1,1,0,3.420050

In [35]:
predicted_df_cor['ID'] = range(len(predicted_df_cor))
predicted_df_cor[['ID', 'label']].to_csv('try51_data.csv', index=False)

In [36]:
try51_df = pd.read_csv('try51_data.csv')

In [37]:
try51_df

      ID  label
0      0    2.0
1      1    0.0
2      2    0.0
3      3    1.0
4      4    0.0
..   ...    ...
179  179    0.0
180  180    0.0
181  181    0.0
182  182    0.0
183  183    1.0

[184 rows x 2 columns]

In [38]:
try51_df['label'].value_counts()

0.0    101
1.0     33
3.0     26
2.0     23
4.0      1
Name: label, dtype: int64

In [39]:
df46best = pd.read_csv('try46best_data.csv')
dfactualtry = pd.read_csv('try51_data.csv')

In [40]:
df46best['label'].value_counts()

0.0    96
1.0    37
2.0    28
3.0    23
Name: label, dtype: int64

In [41]:
difference = dfbesttry['label'].compare(dfactualtry['label'])
difference = difference[difference['self']!= difference ['other']]

print(difference)

     self  other
7     2.0    1.0
8     3.0    1.0
24    3.0    1.0
27    3.0    2.0
39    2.0    1.0
40    0.0    3.0
50    2.0    1.0
52    2.0    4.0
54    1.0    2.0
59    0.0    1.0
60    2.0    3.0
61    1.0    2.0
65    0.0    1.0
68    1.0    2.0
83    1.0    3.0
87    2.0    3.0
97    2.0    3.0
104   2.0    3.0
107   1.0    0.0
109   0.0    1.0
110   3.0    2.0
112   1.0    0.0
113   0.0    3.0
116   1.0    3.0
119   1.0    0.0
121   0.0    1.0
125   1.0    3.0
135   1.0    2.0
138   3.0    2.0
140   1.0    2.0
142   0.0    3.0
148   3.0    2.0
149   3.0    2.0
153   3.0    1.0
154   3.0    0.0
155   0.0    1.0
160   3.0    2.0
164   1.0    2.0
170   1.0    0.0
175   2.0    3.0
179   2.0    0.0

In [43]:
total_diferencias = len(difference)

print(f"Total de entradas diferentes: {total_diferencias}")

Total de entradas diferentes: 41